In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pylab as plt
import seaborn as sns

In [9]:
from sklearn.linear_model import LinearRegression as LinReg

from sklearn.linear_model import Lasso        # regularizacion L1
from sklearn.linear_model import Ridge        # regularizacion L2
from sklearn.linear_model import ElasticNet   # regularizacion L1+L2


    # se inician los modelos
from sklearn.svm import SVR  # support vector regressor

from sklearn.ensemble import RandomForestRegressor as RFR  
from sklearn.tree import ExtraTreeRegressor as ETR


    #%pip install xgboost

    #%pip install catboost

    #%pip install lightgbm

from sklearn.ensemble import GradientBoostingRegressor as GBR

from xgboost import XGBRegressor as XGBR

from catboost import CatBoostRegressor as CTR

from lightgbm import LGBMRegressor as LGBMR

In [2]:
data= pd.read_csv('../data/salaries_data.csv')
test= pd.read_csv('../data/testeo.csv')

In [3]:
data.drop(['salary', 'salary_currency'], axis=1, inplace= True)
test.drop(['salary', 'salary_currency'], axis=1, inplace= True)

In [4]:
data2 = pd.concat([data, test])

In [5]:
data2.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250.0,US,100,US,M
1,2022,SE,FT,Data Engineer,135000.0,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000.0,US,100,US,M
3,2021,MI,CT,ML Engineer,270000.0,US,100,US,L
4,2021,MI,FT,Data Engineer,26005.0,RO,0,US,L

In [6]:
data2.drop(['company_location', 'job_title' ], axis = 1, inplace = True)

In [7]:
data2.experience_level.replace({'SE': 3, 'MI': 2, 'EN': 1, 'EX': 4}, inplace = True)
data2.company_size.replace({'S': 1, 'L': 3, 'M': 2}, inplace = True)

In [11]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

data2.employee_residence=LabelEncoder().fit_transform(data2.employee_residence)
data2.employment_type=LabelEncoder().fit_transform(data2.employment_type)

In [12]:
salaries = data2[:500]
test = data2[500:]

In [19]:
X = salaries.drop(['salary_in_usd'], axis=1)

y = salaries.salary_in_usd

In [20]:
from sklearn.model_selection import train_test_split as tts

# Your code here:

# train-test-split


X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=22)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((400, 6), (100, 6), (400,), (100,))

In [21]:
from funciones import *

In [22]:
entreno1 = coach_models(X_train, y_train, X_test,  y_test)
entreno1

     modelo          rmse           mae        r2
0    linreg  43717.602066  34875.506024  0.399677
1     lasso  43718.269897  34875.453227  0.399658
2     ridge  43743.834354  34867.242728  0.398956
3   elastic  46187.627516  36214.174134  0.329924
4       svr  56432.632633  44886.698567 -0.000306
5       rfr  39088.840378  30574.910351  0.520070
6       etr  45069.158255  35783.337782  0.361984
7       gbr  38815.224428  30614.856151  0.526765
8      xgbr  42544.857732  33213.193521  0.431453
9       ctr  40671.540685  32021.820347  0.480418
10    lgbmr  41067.591310  31697.433227  0.470250

In [33]:
from sklearn.ensemble import BaggingRegressor as BG

bg = BG()

bg.fit(X, y)

#test.drop(['salary_in_usd'], axis = 1, inplace = True)

y_pred1 = bg.predict(test)

In [34]:
muestra = pd.read_csv(r'..\data\muestra.csv',encoding='latin1')

In [35]:
muestra.salary_in_usd = y_pred1
muestra.head()

   id  salary_in_usd
0   0  135202.400000
1   1  111007.301587
2   2  111007.301587
3   3   70262.200000
4   4   37851.100000

In [36]:
muestra.to_csv(r'../subidas/entreno_silvia.csv', index=False)